<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Login</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <div text-center>
        <img src="img/HIT.png">
    </div>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="goLog(loginForm.values)">
        <ion-list padding>

            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label>Remember me</ion-label>
                <ion-checkbox checked></ion-checkbox>
            </ion-item>

        </ion-list>
        <div padding>
            <p (click)="forgetPassword()" text-center ion-text color="light">Forgot password ?</p>
        </div>

        <div padding>
            <button ion-button outline block color="light" [disabled]="!loginForm.valid">Submit</button>
        </div>
    </form>
    <div class="overlay"></div>
</ion-content>
