page-login {
    
    .container {
        margin-top: 40%;
    }
    img {
        text-align: center;
        padding-top: 50px;
        width: 100px;
        height: auto;
        margin-left:15px;
    }
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        bottom: 0;
        top: 0;
        z-index: -2;
        background: linear-gradient(
            to bottom,
            rgba(0,0,0, 0),
            rgba(0,0,0, 100)
          ),url('../img/user.jpg');
        background-size: cover;
        background-position-x: center;
        overflow-y: hidden;
        filter: grayscale(100%);
    }
    .toolbar-background {
        background: linear-gradient(
            to bottom,
            rgba(0,0,0, 0),
            rgba(0,0,0, 100)
          );
    }
    .toolbar-title {
        color: color($colors, light) !important;
    }
    .back-button {
        color: color($colors, light) !important;
    }
    ion-item {
        background: transparent !important;
        ion-label {
            color: color($colors, light);
        }
        ion-input {
            color: color($colors, secondary);
        }
    }
    .error-message {
        color: red;
    }
    .validation-errors {
        padding: 10px 20px;
    }
    ion-footer{
        background: linear-gradient(
            to bottom,
            rgba(0,0,0, 0),
            rgba(0,0,0, 100)
          ) !important;
    }
}