<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div text-center>
        <img src="img/HIT.png">
    </div>
    <br>
    <form padding [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <ion-list>

            <ion-item>
                <ion-label stacked>* Name</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name">
                    <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label stacked>* Email</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label stacked>Gender</ion-label>
                <ion-select formControlName="gender">
                    <ion-option value="male">Male</ion-option>
                    <ion-option value="female">Female</ion-option>
                </ion-select>
            </ion-item>
            <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.gender">
                    <div class="error-message" *ngIf="validations_form.get('gender').hasError(validation.type) && (validations_form.get('gender').dirty || validations_form.get('gender').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div> -->

            <ion-item>
                <ion-label stacked>Date of birth</ion-label>
                <ion-datetime formControlName="date" ion-text color="secondary"></ion-datetime>
            </ion-item>
            <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.date">
                    <div class="error-message" *ngIf="validations_form.get('date').hasError(validation.type) && (validations_form.get('date').dirty || validations_form.get('date').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div> -->

            <ion-item>
                <ion-label stacked>Phone Number</ion-label>
                <ion-input formControlName="phone" type="number"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.phone">
                    <div class="error-message" *ngIf="validations_form.get('phone').hasError(validation.type) && (validations_form.get('phone').dirty || validations_form.get('phone').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>
            <ion-item>
                <ion-label stacked>* Password</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label stacked>Weight</ion-label>
                <ion-input formControlName="weight" type="number"></ion-input>
            </ion-item>
            <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.weight">
                    <div class="error-message" *ngIf="validations_form.get('weight').hasError(validation.type) && (validations_form.get('weight').dirty || validations_form.get('weight').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div> -->

            <ion-item>
                <ion-label stacked>Height</ion-label>
                <ion-input formControlName="height" type="number"></ion-input>
            </ion-item>
            <!-- <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.height">
                    <div class="error-message" *ngIf="validations_form.get('height').hasError(validation.type) && (validations_form.get('height').dirty || validations_form.get('height').touched)">
                        {{ validation.message }}
                    </div>
                </ng-container>
            </div> -->

            <ion-item>
                <ion-label stacked>Home Address</ion-label>
                <ion-input formControlName="address" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label stacked>How did you know about us ?</ion-label>
                <ion-textarea rows="4" formControlName="referral" placeholder="Write briefly"></ion-textarea>
            </ion-item>
            <br>

            <ion-item>
                <ion-label stacked>State any injury</ion-label>
                <ion-textarea rows="4" formControlName="injury" placeholder="Write briefly"></ion-textarea>
            </ion-item>
            <br>
            <p *ngIf="!validations_form.valid" ion-text color="danger" padding text-center>Please make sure you have filled in all required fields! </p>

        </ion-list>
        <div padding>
            <button ion-button outline block color="light" [disabled]="!validations_form.valid">Submit</button>
        </div>
    </form>
    <div class="overlay"></div>
</ion-content>
<ion-footer>

</ion-footer>
