
<ion-content>
    
    <div class="overlay">
      <div class="background" text-center><img src="img/HIT.png"></div>
      <div class="controls" padding>
        <button ion-button outline block color="light" (click)="goLog()">Login</button>
        <button ion-button outline block color="light" (click)="goReg()">Register</button>
      </div>
    </div>
</ion-content>
