page-auth {
    // .background {

    //     background: url('../img/user.jpg');
    //     background-size: cover;
    //     background-position-x: center;
    //     overflow-y: hidden;
    //     filter: grayscale(100%);
    // }
    .container {
        margin-top: 40%;
    }
    img {
        text-align: center;
        padding-top: 100px;
        width: 120px;
        height: auto;
        margin-left:15px;
    }
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        bottom: 0;
        top: 0;
        z-index: -2;
        background: linear-gradient(
            to bottom,
            rgba(0,0,0, 0),
            rgba(0,0,0, 100)
          ),url('../img/user.jpg');
        background-size: cover;
        background-position-x: center;
        overflow-y: hidden;
        filter: grayscale(100%);
    }
    .controls{
        position: absolute;
        bottom: 5px;
        left: 0px;
        right: 0px;
    }
}