<!--
  Generated template for the ResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="dark">
        <ion-title>QR Results</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>