page-home {
    // ion-content {
    //     margin-top: 50px;
    //     background: none transparent !important;
    //     border: 1px solid #D13033;
    //     width: 100%;
    //     height: 60% !important;
    // }
    // ion-footer {
    //     background: white;
    // }
    .large {
        font-size: 62px;
    }
    .counter {
        p {
            color: grey;
        }
        h1 {
            font-size: 40px;
        }
    }
    .valid {
        padding: 5px;
        border: 1px solid color($colors, danger);
    }
    .mg_r {
        margin-right: 5px;
    }
}