<ion-header>
    <ion-navbar color="dark">
        <ion-buttons end>
            <button ion-button icon-only (click)="logOut()">
                <ion-icon color="danger" name="md-log-out"></ion-icon>
            </button>


        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
        <!-- <ion-buttons end>
            <button item-end ion-button icon-only (click)="openNotifications()">
                        <ion-icon color="danger"  name="md-notifications"></ion-icon>
                        <ion-badge style="margin-left:-10px;" color="light">2</ion-badge>
                    </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <p padding>Welcome
        <strong ion-text color="danger">"{{myUpdatedInfo.name}}"</strong>
    </p>
    <ion-card *ngIf="createdCode">
        <ngx-qrcode [qrc-value]="myUpdatedInfo.qrcode"></ngx-qrcode>
    </ion-card>
    <div padding>
        <ion-segment color="danger" [(ngModel)]="choice">
            <ion-segment-button value="Available">
                Available
            </ion-segment-button>
            <ion-segment-button value="History">
                History
            </ion-segment-button>
            <ion-segment-button value="Programs">
                Programs
            </ion-segment-button>
        </ion-segment>
    </div>

    <div [ngSwitch]="choice">
        <ion-list *ngSwitchCase="'Available'">
            <p padding color="gray" ion-text text-center *ngIf="!myUpdatedInfo.packages[0]">
                <ion-icon class="large" name="ios-alert-outline"></ion-icon>
                <br>You don't have any subscriptions</p>
            <div *ngFor="let sub of myUpdatedInfo.packages">

                <ion-card padding>
                    <div class="counter" text-center>
                        <strong>{{sub.title}}</strong>
                        <h1 ion-text color="danger">{{sub.remaining_sessions}}</h1>
                        <p>Remaining Sessions</p>
                    </div>
                    <ion-row text-center>
                        <ion-col *ngFor="let branch of sub.branches">
                            <button ion-button small outline color="dark">
                                <strong class="mg_r">{{branch}} </strong> branch</button>
                        </ion-col>
                    </ion-row>
                    <div padding>
                        <p class="valid" text-center>Valid until :
                            <strong ion-text color="danger">{{sub.valid_until}}</strong>
                        </p>
                    </div>
                </ion-card>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'History'">
            <p padding color="gray" ion-text text-center *ngIf="!myUpdatedInfo.admissions[0]">
                <ion-icon class="large" name="ios-alert-outline"></ion-icon>
                <br> You don't have any previous sessions</p>
            <div *ngFor="let sess of myUpdatedInfo.admissions">
                <ion-item>
                    <h2>
                        <ion-icon name="navigate"></ion-icon> {{sess.branch}}</h2>
                    <strong>
                        <ion-icon name="bookmark"></ion-icon> {{sess.class}}</strong>
                    <p>
                        <ion-icon name="calendar"></ion-icon> {{sess.date}}</p>
                    <p>
                        <ion-icon name="clock"></ion-icon> {{sess.time}}</p>
                </ion-item>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase="'Programs'">
                <p padding color="gray" ion-text text-center *ngIf="!myUpdatedInfo.unique_classes[0]">
                        <ion-icon class="large" name="ios-alert-outline"></ion-icon>
                        <br> You don't have any previous programs</p>
            <div *ngFor="let prog of myUpdatedInfo.unique_classes">
                <ion-card padding>
                    <h2>{{prog.title}}</h2>
                    <!-- <strong>{{pack.package_type}}</strong><br><br> -->
                    <p>{{prog.description}}</p>
                </ion-card>
            </div>
        </ion-list>
    </div>
</ion-content>
<!-- <ion-footer padding>
    <p (click)="goRes(text)">Scanned Qr : <strong ion-text color="danger">{{text}}</strong></p>
</ion-footer> -->